@model IEnumerable<PizzaShop.Models.Category>
@{
    ViewBag.Title = "Index";
}
@Scripts.Render("~/bundles/jquery")

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    <h2>Index</h2>
    <div class="container">

        @foreach (var category in Model)
        {
        <h3>@category.Name</h3>
        <div class="panel-group">
            @foreach (var product in category.Products)
            {
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h4 class="panel-title">
                            <a data-toggle="collapse" href="#collapse@(product.ID)">@product.Name</a>
                        </h4>
                        @if (category.Name.Equals("Pizza"))
                        {
                            <label>Medium
                                <input type="radio" style="float: right" name="size@(product.ID)" checked="checked"/>
                            </label>
                            <label>Large
                                <input type="radio" style="float: right" name="size@(product.ID)"/>
                            </label>
                        }
                        <select id="quantity@(product.ID)" class="form-control">
                            @for(int i = 1; i <= 10; i++)
                            {
                                <option value="option@(i)">@i</option>
                            }
                        </select>

                        <div id="@(product.ID)" class="btn btn-primary pull-right">
                            Zum Warenkorb hinzufügen
                        </div>

                        <script type="text/javascript">
                            $("#@product.ID")
                                .click(function (event) {
                                    var productId = $(event.currentTarget).attr('id')
                                    var quantity = $(`#quantity${productId} option:selected`).text()
                                    var x = @(Html.Raw(@ViewBag.JsonExtras));
                                    var extras = []
                                    
                                    x.forEach(function(extra){
                                        var obj = $(`#extra_${productId}_${extra.ID}`).is(":checked")
                                        if(obj === true)
                                            extras.push(extra.ID)
                                    })

                                    var data = {
                                        productId: productId,
                                        quantity: quantity,
                                        extras: extras
                                    }


                                    $.post("/Cart/AddProduct", data, function (result){})
                                })
                        </script>

                    </div>
                    @if (category.Name.Equals("Pizza"))
                    {
                        <div id="collapse@(product.ID)" class="panel-collapse collapse">
                            <div class="panel-body">
                                <p>Toppings:</p>
                                @foreach (var extra in ViewBag.Extras)
                                {
                                    <label class="checkbox-inline" for="extra_@(product.ID)_@(extra.ID)">
                                        <input type="checkbox" id="extra_@(product.ID)_@(extra.ID)" />@extra.Name
                                    </label>
                                }
                            </div>
                        </div>
                    }
                </div>
            }
        </div>
        }
    </div>
}

